<!DOCTYPE html>
<html>
<head>
	<title>Image Library</title>
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="<%= host %>/css/global.css">
</head>
<body>
	<div class="container">
		<div id="topbar">
			<small>Dockety.io</small>
		</div>
		<div class="row">
			<div class="col-md-2 left-nav">
				<ul>
					<li>Images</li>
					<li>Documents</li>
					<li><hr></li>
					<li>Create gallery</li>
					<li>Recent uploads</li>
					<li>Recent modified</li>
				</ul>
			</div>
			<div class="col-md-10 body-content">
				
				<% if(section == "library") {%>
				<div class="col-md-12">
					<h3 class="active-tab-text">Media library</h3>
					<a href="/upload-files-page" class="btn btn-default"><i class="fa fa-upload" aria-hidden="true"></i> Upload files</a>
					<a href="/image-library-page" class="btn btn-default active-tab"><i class="fa fa-th" aria-hidden="true"></i> Media library</a>
				</div>
				<div class="row" id="gallery-row">
					<div class="col-md-8 image-thumb-cont">
						<div class="col-md-12 image-filters">
							<select class="pull-left image-thumb-sort">
								<option>Sort by size ASC</option>
								<option>Sort by size DESC</option>
							</select>
							<input type="text" name="" id="search-image" class="pull-right">
						</div>
						<div class="col-md-12 thumbnail-panel">
							
							<!-- thumbnails -->
							<section id="photos">
								<img src="<%= host %>/images/1.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/3.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/4.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/3.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/2.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/5.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/8.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/7.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/6.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/4.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/1.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/6.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/3.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/2.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/8.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/7.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/6.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/2.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/1.jpg" class="img-thumbnail" alt="Cinque Terre" >
								<img src="<%= host %>/images/3.jpg" class="img-thumbnail" alt="Cinque Terre" >
							</section>
						</div>
					</div>
					<div class="col-md-4 image-meta-cont">
						<!-- Right -->
						<div class="edit-prev-del">
							<a href="#" class="preview">Preview</a> &nbsp; 
							<a href="#" class="preview">Edit</a> &nbsp; 
							<a href="#" class="preview">Delete</a>
						</div>
						<label>
							<img src="<%= host %>/images/4.jpg" class="chosen-image" alt="Cinque Terre" >
						</label>
						<div class="chosen-meta">
							<small>
								<table id="image-meta">
									<tr><td>Name: </td><td><b>one-fkin image.jpg</b></td></tr>
									<tr><td>Size: </td><td>1022kb</td></tr>
									<tr><td>Diamention: </td><td>759 x 345</td></tr>
									<tr><td>Date: </td><td>5 January 2017</td></tr>
								</table>		
							</small>
							<hr>
							<div class="image-meta-edit">
								<div class="form-group">
								  	<label for="usr">URL:</label>
								  	<input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group">
								  	<label for="usr">title:</label>
								  	<input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group">
								  	<label for="usr">alt text:</label>
								  	<input type="text" class="form-control" id="usr">
								</div>
								<div class="form-group">
								  	<label for="comment">Description:</label>
								  	<textarea class="form-control" rows="3" id="comment"></textarea>
								</div>
								<div class="text-right">
									<button class="btn btn-primary"> Save changes </button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%}%>
				<% if(section == "upload") {%>
				<div class="col-md-12">
					<h3 class="active-tab-text">Upload files</h3>
					<a href="/upload-files-page" class="btn btn-default active-tab"><i class="fa fa-upload" aria-hidden="true"></i> Upload files</a>
					<a href="/image-library-page" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i> Media library</a>
				</div>
				<div class="row" id="upload-row">
					<div id="upload-section">
					</div>
				</div>
				<%}%>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="<%= host %>/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="<%= host %>/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<%= host %>/js/si_incoming.js"></script>
	<script type="text/javascript" src="<%= host %>/js/global.js"></script>
</body>
</html>